@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Anton', sans-serif;
    text-align: justify;
}

:root {
    --golden-coffee: #f07e13;
    --sea-blue: #002663;
    --white: #ffffff;
}

/* nav-bar part */

.nav-control {
    height: 40px;
    background-color: var(--sea-blue);
}

.menu-links {
    display: flex;
    list-style-type: none;
}

.menu-item {
    font-size: 25px;
    text-decoration: none;
    color: var(--white);
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-item:hover {
    color: var(--golden-coffee);
}

/* nav-bar part */

/* image post */

.page-background-color {
    background-color: var(--golden-coffee);
}

.profile-img {
    background-color: var(--sea-blue);
    height: 400px;
    width: 80%;
}

.project-card {
    height: 350px;
    width: 100%;
    background-color: var(--sea-blue);
    margin: 10px;
    border-radius: 15px;
}

/* image post */

/* generic classes */

.margin-30-top {
    margin-top: 30px;
}

/* generic classes */
